@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Rubik:wght@400;500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.backg {
  background-image: url("../img/img22.png");
  background-color: #ffffff;
  display: flex;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.Container {
  background-color: white;
  display: flex;
  width: 40%;
  height: 80vh;
  justify-content: center;
  text-align: center;
  margin: 5% auto;
  border-radius: 70px;
}

.formik-form h2 {
  color: #47525e;
  font-family: "Fira Mono";
  font-size: 48px;
  margin: 15px 0;
}
.formik-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.formik-form input {
  margin: 15px 0;
  block-size: 30px;
}

.formik-form button {
  margin: 15px auto;
  width: 160px;
  height: 50px;
  background-color: #f5cec7;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.formik-form button:hover {
  background-color: #f5cec7c9;
}
.formik-form span {
  margin: 15px 0;
  cursor: pointer;
}
.formik-form div {
  margin: 10px 0;
}
#go {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 100px;
  margin: 0 5px;
}

#fb {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 100px;
  margin: 0 5px;
}

.errors {
  display: flex;

  width: 270px;
  margin: 0 auto !important;
  background-color: violet;
}
